html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  text-align: center;
  background: black;
}

#main > div {
  background: white;
  text-align: left;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-top: 20%;
  padding-left: 10%;
}
#main>div>h1 {
  margin-bottom: 0;
}
#main>div>p {
  width: 40%;
}


#iphone {
  -webkit-transition: 2s;
  transition: 2s;
  width: 25vw;
  height: 80vh;
  position: fixed;
  top: 10%; right: 30%;
  -ms-transform-origin: 80% 50%; /* IE 9 */
  -webkit-transform-origin: 80% 50%; /* Chrome, Safari, Opera */
  transform-origin: 80% 50%;
}
#iphone img{
  position: absolute;
  width: 100%;
}
#iphone img.screen{
  position: absolute;
  margin-top: 21%;
  margin-left: 10%;
  width: 80%;
}

#nav {
  position: fixed;
  width: 100%;
  bottom: 5px;
  font-weight: bold;
}
#nav span{
  margin: 10px;
  cursor: pointer;
  opacity: 0.3;
}
#nav span.on {
  opacity: 1;
}














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none ;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }
