body{
	font-family: 'Helvetica Neue',arial,helvetica;
	color: white;
	background-color: black;
}
h1{
	margin:5px 0;
	font-size: 3em;
	font-weight: lighter;
}
h1.wide {
	letter-spacing: 20px;
	font-size: 6em;
}

p{
	margin: 0;
	font-size: 1em;
	opacity: 0.8;
}
.section{
	text-align:center;
}

.section.left{
	padding-right: 60%;
	text-align: right;
}
.section.right{
	padding-left: 60%;
	text-align: left;
}

#video {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	z-index: -1;
}

#iphone {
  width: 25vw;
  height: 80vh;
	z-index: 10;
  position: fixed;
  top: 10%; right: 30%;

  -webkit-transition: 2s;
  transition: 2s;
  -ms-transform-origin: 80% 50%; /* IE 9 */
  -webkit-transform-origin: 80% 50%; /* Chrome, Safari, Opera */
  transform-origin: 80% 50%;
}
#iphone img{
  position: absolute;
  width: 100%;
}
#iphone img.screen{
  position: absolute;
  margin-top: 21%;
  margin-left: 10%;
  width: 80%;
}

.transparent {
	opacity: 0;
}
